
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }
  
  .navbar-nav a{
  text-decoration: none;
  position: relative;
  }
  
  .navbar-nav a:before{
  content: "";
  position: absolute;
  left: 0;
  top: 75%;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: all 0.3s linear;
  }
  .navbar-nav a:hover:before{
  width: 100%;
  background-color: orange;
  }
  .form-check
  { 
    position: relative;
    top: 0.25cm;
    right: 0.1cm;
  }
 #DL{position: relative;
bottom: 0.75cm;
left: 1cm;
}
.DLi{
  text-align: center;
}
#item
{
  margin-left: 1cm;
}