.sidenavWhite {
    height: 100%; /* 100% Full-height */
    width: 400px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 1.5cm; /* Stay at the top */
    left: 0;
    
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  .sidenavBlack {
    height: 100%; /* 100% Full-height */
    width: 400px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 1.5cm; /* Stay at the top */
    left: 0;
    
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .athemeWhite {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .athemeBlack {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .athemeWhite:hover {
    color: black;
  }
  .athemeBlack:hover {
    color: white;
  }
  
  /* Position and style the close button (top right corner) */
 

  @media screen and (max-height: 450px) {
    .sidenavwhite {padding-top: 15px;}
    .sidenavBlack {padding-top: 15px;}
    .atheme {font-size: 18px;}
  }

  #openbtn
  {
    position: fixed;
  }
  

  
  
  
  

