<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  id="mespostes" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Mes Postes</h1>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
              <div class="card border-info mb-3" id="card" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://img-19.commentcamarche.net/WNCe54PoGxObY8PCXUxMGQ0Gwss=/480x270/smart/d8c10e7fd21a485c909a5b4c5d99e611/ccmcms-commentcamarche/20456790.jpg"
                      class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" id="1">
                      <h5 class="card-title" id="2">doudi</h5>
                      <p class="card-text" id="3">mahdi</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">

            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
</div>
